<%- include("../../views/partials/header.ejs") %>
    <title>Admin Dashboard</title>
    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!--  Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/stylesheets/admin/barChartDash.css">
</head>

<body>

    <div class="wrapper">
        <!-- Sidebar -->
        <%- include('../partials/adminSidebar.ejs', { activePage: 'adminDash' }) %>

        <!-- Page Content -->
        <div id="content">
            <!-- Navbar -->
            <%- include('../partials/adminNavbar.ejs') %>
            <h3>Admin Dashboard</h3>
            <div style="text-align: center; margin: 20px;">
                <label for="chart-select">Choose a chart:</label>
                <select id="chart-select" onchange="goToChart(this.value)">
                    <option value="">Select...</option>
                    <option value="lineChart">Revenue Per Month</option>
                    <option value="pieChart">Category Chart</option>
                    <option value="barChart">User Chart</option>
                    <!-- Add more options as needed -->
                </select>
            </div>
            
           <div class="container">
            <h1>Users Logged per Month</h1>
            <div id="bar-chart-container" style="height:80vh; width:100%">
                <canvas id="bar-chart"></canvas>
             </div>
             
           </div>
           <script src="/public/script/pieChart.js"></script>

            </div>
            </div>

            <script>
               const labels = <%- JSON.stringify(labels) %>;
const data = <%- JSON.stringify(data) %>;

new Chart(document.getElementById('bar-chart'), {
   type: 'bar',
   data: {
       labels: labels,
       datasets: [{
           label: 'User Count',
           data: data,
           backgroundColor: 'rgba(75, 192, 192, 0.2)',
           borderColor: 'green',
           borderWidth: 1
       }]
   },
   options: {
       scales: {
           y: {
              beginAtZero: true
           }
       }
   }
});

             </script>
             
            <script>
                function goToChart(chartName) {
                    if (chartName === "pieChart") {
                        window.location.href = '/admin/pieChart';
                    } else if (chartName === "lineChart") {
                        window.location.href = '/admin/adminDash';
                    }else if(chartName === "barChart"){
                        window.location.href = '/admin/barChart';
                    }
                }
             </script>
                 <script>
                    $("#sidebar-toggle").click(function() {
                        $("#sidebar").toggle();
                    });
                </script>
                
</body>
</html>