<!-- views/admin/edit_product.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f9fa; /* Light gray background color */
        }

        .wrapper {
            display: flex;
        }

        #sidebar {
            min-width: 250px;
            background-color: #333;
            padding: 20px;
            color: white;
        }

        #content {
            flex-grow: 1;
            padding: 20px;
        }

        nav img {
            height: 50px;
        }

        nav button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .container {
            margin-top: 20px;
            background-color: white;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
        }

        .add-product-button {
            margin-bottom: 20px;
        }

        table {
            width: 100%;
            margin-bottom: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: left;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }

        .navbar {
            position: sticky;
            top: 0;
            z-index: 1000;
            margin-left: -20px;
            margin-right: -20px;
            margin-top: -20px;
            background-color: #333;
            padding: 10px 20px;
        }

        .navbar-brand {
            margin-right: 0;
            color: white;
            font-size: 24px;
            font-weight: bold;
        }

        .sidebar-link {
            font-size: 18px;
            font-weight: bold;
        }

        #sidebar {
            min-width: 250px;
            background-color: #333;
            padding: 20px;
            color: white;
            position: sticky;
            top: 0;
            height: 100vh;
            overflow-y: auto;
        }

        label {
            font-weight: bold;
        }

        hr {
            border-color: #ddd;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .btn-primary {
            background-color: #4CAF50;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 18px;
        }

        .btn-primary:hover {
            background-color: #45a049;
        }

        .form-control {
            font-size: 16px;
        }

        /* Add styles for the image preview */
        .image-preview {
            margin-top: 10px;
            display: flex;
            flex-wrap: wrap;
        }

        .image-preview img {
            max-width: 100px;
            margin-right: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <%- include('../partials/adminSidebar.ejs', { activePage: 'productList' }) %>

        <!-- Page Content -->
        <div id="content">
            <!-- Navbar -->
            <%- include('../partials/adminNavbar.ejs') %>
    <div class="container">
        <h1>Edit Product</h1>
        <form action="/admin/edit_product/<%= product._id %>" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Product Name</label>
                <input type="text" class="form-control" id="name" name="name" value="<%= product.name %>" required>
            </div>
            <div class="form-group">
                <label for="description">Product Description</label>
                <textarea class="form-control" id="description" name="description" rows="3" required><%= product.description %></textarea>
            </div>
            <div class="form-group">
                <% if(error){%>
                    <p style="color: red;"><%= error %></p>
                <% } %>
                <label for="price">Product Price ($)</label>
                <input type="number" class="form-control" id="price" name="price" value="<%= product.price %>" step="0.01" required>
            </div>
            <div class="form-group">
                <label for="productCategory">Product Category:</label>
                <select class="form-control" id="productCategory" name="productCategory" required>
                  <option value="" disabled>Choose Category</option>
                  <% categories.forEach(category => { %>
                    <option value="<%= category.categoryName %>" <% if (category.categoryName === product.category.categoryName) { %>selected<% } %>>
                      <%= category.categoryName %>
                    </option>
                  <% }); %>
                </select>
              </div>

           <!-- Stock -->
<div class="form-group">
    <label for="stock">Stock:</label>
    <input type="number" class="form-control" id="stock" name="stock" value="<%= product.stock %>" min="0" required>
  </div>
  
            <br>
<!-- Cover Image -->
<div class="form-group">
    <label for="coverImage">Cover Image:</label>
    <img src="/public/uploads/<%= product.images[0] %>" alt="Cover Image" style="max-width: 100px;" id="coverImageView" class="p-3">
    
    <input type="file" class="form-control-file" id="coverImage" name="updateImages" accept="image/*" onchange="handleFileSelect('coverImage', 'coverImageView')">
    <input type="hidden" name="imageToDelete" value="<%= product.images[0] %>">
    <button class="btn btn-danger delete-image" onclick="deleteImage('/delete-in-editProduct/<%= product._id %>/<%= product.images[0] %>')">Delete</button>
</div>

<!-- Image 2 -->
<div class="form-group">
    <label for="image2">Image 2:</label>
    <img src="/public/uploads/<%= product.images[1] %>" alt="Image 2" style="max-width: 100px;" id="image2View" class="p-3">
    <input type="file" class="form-control-file" id="image2" name="updateImages" accept="image/*" onchange="handleFileSelect('image2', 'image2View')">
    <input type="hidden" name="imageToDelete" value="<%= product.images[1] %>">
    <button class="btn btn-danger delete-image" onclick="deleteImage('/delete-in-editProduct/<%= product._id %>/<%= product.images[1] %>')">Delete</button>
</div>

<!-- Image 3 -->
<div class="form-group">
    <label for="image3">Image 3 (Optional):</label>
    <img src="/public/uploads/<%= product.images[2] %>" alt="Image 3" style="max-width: 100px;" id="image3View" class="p-3">
    <input type="file" class="form-control-file" id="image3" name="updateImages" accept="image/*" onchange="handleFileSelect('image3', 'image3View')">
    <button class="btn btn-danger delete-image" onclick="deleteImage('/delete-in-editProduct/<%= product._id %>/<%= product.images[2] %>')">Delete</button>
</div>

<!-- Image 4 -->
<div class="form-group">
    <label for="image4">Image 4 (Optional):</label>
    <img src="/public/uploads/<%= product.images[3] %>" alt="Image 4" style="max-width: 100px;" id="image4View" class="p-3">
    <input type="file" class="form-control-file" id="image4" name="updateImages" accept="image/*" onchange="handleFileSelect('image4', 'image4View')">
    <button class="btn btn-danger delete-image" onclick="deleteImage('/delete-in-editProduct/<%= product._id %>/<%= product.images[3] %>')">Delete</button>
</div>
    
                <button type="submit" class="btn btn-primary apply-edit-btn">Update Product</button>
            </form>
        </div>
        </div>
    </div>
        <!-- Include Bootstrap JS and Popper.js (required for Bootstrap modal) -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <script>
            function deleteImage(deleteUrl) {
                fetch(deleteUrl, { method: 'PATCH' })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            // Optionally update the UI to reflect the deleted image
                            console.log('Image deleted successfully');
                        } else {
                            console.error('Error deleting image:', data.message);
                        }
                    })
                    .catch(error => {
                        console.error('Error deleting image:', error);
                    });
            }
        </script>
        <script>
            // Additional function for handling file selection
            function handleFileSelect(inputId, previewId) {
                const input = document.getElementById(inputId);
                const preview = document.getElementById(previewId);
    
                const files = input.files;
                if (files.length > 0) {
                    preview.src = URL.createObjectURL(files[0]);
                }
            }
        </script>
        <script>
            $("#sidebar-toggle").click(function() {
                $("#sidebar").toggle();
            });
        </script>
        <script>
            document.querySelectorAll('.apply-edit-btn').forEach(button => {
                button.addEventListener('click', function (event) {
                    event.preventDefault(); // Prevent the form from submitting immediately
        
                    Swal.fire({
                        title: 'Are you sure to Edit product?',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Yes',
                        cancelButtonText: 'No'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            // If the user clicks "Yes", submit the form
                            event.target.closest('form').submit();
                        }
                    });
                });
            });
        </script>
    </body>
    </html>