<!-- list-all-orders.ejs -->
<%- include("../../views/partials/header.ejs") %>
    <title>List All Orders</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <link rel="stylesheet" href="/public/stylesheets/admin/list-all-orders.css">
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <%- include('../partials/adminSidebar.ejs', { activePage: 'ordersList' }) %>

        <!-- Page Content -->
        <div id="content">
            <!-- Navbar -->
            <%- include('../partials/adminNavbar.ejs') %>

            <div class="container">
                <form method="post" action="/update-order-status">
                    <h1>List of All Orders</h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Order ID</th>
                                <th>Username</th>
                                <th>Price</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% orders.forEach(order => { %>
                                <tr>
                                    <td><%= order.products && order.products[0] && order.products[0].product && order.products[0].product.name || 'N/A' %></td>
                                    <td><%= order._id %></td>
                                    <td><%= order.user && order.user.username || 'N/A' %></td>
                                    <td>₹<%= order.products && order.products[0] && order.products[0].price || 'N/A' %></td>
                                    <td>
                                        <select name="status_<%= order._id %>">
                                            <option value="Confirmed" <%= order.status === 'Confirmed' ? 'selected' : '' %>>Confirmed</option>
                                            <option value="Shipped" <%= order.status === 'Shipped' ? 'selected' : '' %>>Shipped</option>
                                            <option value="OutForDelivery" <%= order.status === 'OutForDelivery' ? 'selected' : '' %>>Out For Delivery</option>
                                            <option value="Cancelled" <%= order.status === 'Cancelled' ? 'selected' : '' %>>Cancelled</option>
                                            <option value="Delivered" <%= order.status === 'Delivered' ? 'selected' : '' %>>Delivered</option>
                                        </select>
                                    </td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                    <button type="submit">Update Status</button>
                   
                </form>
                <div class="container">
                <button class="btn btn-primary float-right" onclick="location.href='/returnRequests'">See all return requests</button>
                </div>
            </div>
            <div class="container">
            <div class="pagination-container">
                <div class="pagination">
                  <% for(let i = 1; i <= pages; i++) { %>
                    <a href="?page=<%= i %>" class="<%= i === current ? 'active' : '' %>"><%= i %></a>
                  <% } %>
                </div>
              </div>
              </div>
              
        </div>
     
          
    </div>

    <!-- Include Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $("#sidebar-toggle").click(function() {
            $("#sidebar").toggle();
        });
    </script>
</body>

</html>
