<!-- home.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> MediHub </title>
    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="/public/stylesheets/users/home.css">
 
    <script>
        function toggleDropdown() {
            const dropdownContent = document.getElementById('dropdown-content');
            dropdownContent.style.display = (dropdownContent.style.display === 'block') ? 'none' : 'block';
        }
    </script>
</head>
<body>
    <!-- nav bar -->
   <%- include("../views/partials/userNavbar.ejs") %>
 

   
    <!-- Carousel -->
    <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
          <% for (let i = 0; i < banners.length; i++) { %>
            <li data-target="#myCarousel" data-slide-to="<%= i %>" class="<%= i === 0 ? 'active' : '' %>"></li>
          <% } %>
        </ol>
        
        <div class="carousel-inner">
          <% banners.forEach((banner, index) => { %>
            <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
              <% banner.images.forEach(image => { %>
                <img src="<%= image.path %>" alt="<%= banner.banner_name %>" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                  <h5><%= banner.banner_name %></h5>
                  <p><%= banner.reference %></p>
                </div>
              <% }) %>
            </div>
          <% }) %>
        </div>
        
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="container-fluid">



    <div class="container">


      

  
      <div class="jumbotron">
        <h1 class="display-4 text-center"><strong> MED⚚HUB </strong></h1>
    </div>
  


      <% if (messages.success) { %>
        <div class="alert alert-success">
            <%= messages.success %>
        </div>
    <% } else if (messages.error) { %>
        <div class="alert alert-danger">
            <%= messages.error %>
        </div>
    <% } %>
        <div class="row">
          <div class="container">
            <h4 style="color: rgb(116, 44, 44);" >New arrivals</h4>
          </div>
          <!-- Loop through products and create Bootstrap cards -->
          <% products.forEach(product => { %>
            <div class="col-md-4 mb-4">
              <div class="card">
                <a href="/product/<%= product._id %>"> 
                    <% if (product.images.length > 0) { %>
                        <!-- Display only the first image -->
                        <img src="/public/uploads/<%= product.images[0] %>" alt="<%= product.name %>" style="max-width: 100%;">
                    <% } else { %>
                        <!-- Provide a default image or message if there are no images -->
                        <img src="/public/default-image.jpg" alt="No Image" style="max-width: 100%;">
                    <% } %>
                </a>
                <div class="card-body">
                  <h5 class="card-title"><%= product.name %></h5>
               
                  Category: <%= product.categoryName ? product.categoryName : 'N/A' %>

                 
          
                    <!-- row for price and stock message -->
                    <div class="row">
                        <div class="col-md-6">
                            <% if (product.offer && product.offer.isActive) { %>
                                <p class="card-text">₹<strong><%= product.price %></strong></p>
                                <!-- <p class="card-text">₹<s><%= product.price + product.offer.amount %></s></p> -->
                               <% } else { %>
                                <p class="card-text">₹<strong><%= product.price %></strong></p>
                               <% } %>
                               
                        </div>
                        <div class="col-md-6 text-right">
                          <!-- Display a message if stock is less than or equal to 5 -->
                          <% if (product.stock <= 5 && product.stock > 1) { %>
                            <p class="card-text text-danger">Only <%= product.stock %> left!</p>
                          <% } else if (product.stock === 1) { %>
                            <p class="card-text text-danger">Last in stock!</p>
                          <% } else if (product.stock === 0) { %>
                            <p class="card-text text-danger">Out of Stock!</p>
                          <% } %>
                        </div>
                      </div>

                     <!-- Existing "Add to Cart" and "Buy Now" buttons -->
<div class="d-flex justify-content-between">
    <a href="/add-to-cart/<%= product._id %>" class="btn btn-warning mr-2">
        <% if (user && user.cart && product._id && user.cart.some(item => item.product && item.product._id && item.product._id.toString() === product._id.toString())) { %>
            Go to Cart
        <% } else { %>
            Add to Cart
        <% } %>
    </a>
 
    <a href="/product/<%= product._id %>" class="btn btn-info ">
        Buy Now
    </a>
 </div>
                </div>
              </div>
            </div>
          <% }); %>
        </div>
        <div class="row-smallerScreen">
          <!-- Loop through products and create Bootstrap cards -->
          <% products.forEach(product => { %>
            <div class="col-md-6 mb-4">
              <div class="card">
                <a href="/product/<%= product._id %>"> <!-- Add a link to each product -->
                    <% if (product.images.length > 0) { %>
                        <!-- Display only the first image -->
                        <img src="/public/uploads/<%= product.images[0] %>" alt="<%= product.name %>" style="max-width: 100%;">
                    <% } else { %>
                        <!-- Provide a default image or message if there are no images -->
                        <img src="/public/default-image.jpg" alt="No Image" style="max-width: 100%;">
                    <% } %>
                </a>
                <div class="card-body">
                  <h5 class="card-title"><%= product.name %></h5>
                  <!-- <p class="card-text"><%= product.description %></p> -->
                  Category: <%= product.categoryName ? product.categoryName : 'N/A' %>

                 
          
                    <!-- row for price and stock message -->
                    <div class="row">
                        <div class="col-md-6">
                            <% if (product.offer && product.offer.isActive) { %>
                                <p class="card-text">₹<strong><%= product.price %></strong></p>
                                <!-- <p class="card-text">₹<s><%= product.price + product.offer.amount %></s></p> -->
                               <% } else { %>
                                <p class="card-text">₹<strong><%= product.price %></strong></p>
                               <% } %>
                               
                        </div>
                        <div class="col-md-6 text-right">
                          <!-- Display a message if stock is less than or equal to 5 -->
                          <% if (product.stock <= 5 && product.stock > 1) { %>
                            <p class="card-text text-danger">Only <%= product.stock %> left!</p>
                          <% } else if (product.stock === 1) { %>
                            <p class="card-text text-danger">Last in stock!</p>
                          <% } else if (product.stock === 0) { %>
                            <p class="card-text text-danger">Out of Stock!</p>
                          <% } %>
                        </div>
                      </div>

                     <!-- Existing "Add to Cart" and "Buy Now" buttons -->
<div class="d-flex justify-content-between">
    <a href="/add-to-cart/<%= product._id %>" class="btn btn-warning mr-2">
        <% if (user && user.cart && product._id && user.cart.some(item => item.product && item.product._id && item.product._id.toString() === product._id.toString())) { %>
            Go to Cart
        <% } else { %>
            Add to Cart
        <% } %>
    </a>
 
    <a href="/product/<%= product._id %>" class="btn btn-info ">
        Buy Now
    </a>
 </div>
                </div>
              </div>
            </div>
          <% }); %>
        </div>
        
       <!-- Pagination HTML with Previous and Next buttons -->
<div aria-label="Page navigation">
  <ul class="pagination">
      <% if (page > 1) { %>
          <!-- Previous button is enabled if not on the first page -->
          <li class="page-item">
              <a class="page-link" href="/?page=<%= page - 1 %>" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
              </a>
          </li>
      <% } else { %>
          <!-- Previous button is disabled on the first page -->
          <li class="page-item disabled">
              <span class="page-link" aria-hidden="true">&laquo;</span>
          </li>
      <% } %>

      <!-- Page numbers -->
      <% for (let i = 1; i <= totalPages; i++) { %>
          <li class="page-item <%= i === page ? 'active' : '' %>">
              <a class="page-link" href="/?page=<%= i %>"><%= i %></a>
          </li>
      <% } %>

      <% if (page < totalPages) { %>
          <!-- Next button is enabled if not on the last page -->
          <li class="page-item">
              <a class="page-link" href="/?page=<%= page + 1 %>" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
              </a>
          </li>
      <% } else { %>
          <!-- Next button is disabled on the last page -->
          <li class="page-item disabled">
              <span class="page-link" aria-hidden="true">&raquo;</span>
          </li>
      <% } %>
  </ul>
</div>

        
      </div>
      <%- include("../views/partials/footer.ejs") %>

    <!-- Optional: Add Bootstrap JS and Popper.js for Bootstrap functionality -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
