<!-- userWallet.ejs -->
<%- include("../views/partials/header.ejs") %>
   <title>Your Wallet</title>
    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link rel="stylesheet" href="/public/stylesheets/users/userWallet.css">
</head>
<body>
    <%- include("../views/partials/userNavbar.ejs") %>

    <div class="container container-box">
        <h1 class="text-center">Hello, <%= userName %>!</h1>
        
        <!-- Wallet Balance Container -->
        <div class="wallet-container">
            <p class="wallet-balance">Wallet Balance: ₹<%= walletBalance %></p>
        </div>
    </div>
<!-- Action Buttons -->
<div class="container">
    <div class="action-buttons">
        <a href="/" class="action-button btn btn1">Back Shopping</a>
        <a href="/userCart" class="action-button btn btn2">View Cart</a>
        <a href="/add_wishlist" class="action-button btn btn3">View Wishlist</a>
        <a href="/userAccount" class="action-button btn btn4">View Account</a>
    </div>
</div>


<!-- Wallet History Section -->
<div class="container">
<div class="wallet-history">
    <h2>Wallet History</h2>
    <% walletHistory.forEach((transaction) => { %>
      <div class="transaction">
        <p>Amount: ₹<%= transaction.amount %></p>
        <p>Status: <%= transaction.status %></p>
        <p>Time: <%= new Date(transaction.time).getDate() %>/<%= new Date(transaction.time).getMonth() + 1 %>/<%= new Date(transaction.time).getFullYear() %> (<%= new Date(transaction.time).getHours() %>:<%= new Date(transaction.time).getMinutes() %>:<%= new Date(transaction.time).getSeconds() %>)</p> 
   </div>
   <% }); %>
   </div>
   </div>
   

 
    <script>
   function getRandomDarkColor() {
       var r = Math.floor(Math.random() * 129); // Red component, 0-128
       var g = Math.floor(Math.random() * 129); // Green component, 0-128
       var b = Math.floor(Math.random() * 129); // Blue component, 0-128
       return '#' + r.toString(16) + g.toString(16) + b.toString(16);
   }

   // Function to change the background color of the container box
   function changeContainerColor() {
       var containerBox = document.querySelector('.container-box');
       containerBox.style.backgroundColor = getRandomDarkColor();
   }

   setInterval(changeContainerColor, 300);
    </script>
</body>
</html>